<app-pagina titulo="{{ 'detalleReclamo.titulo' | translate }}" [atras]="true" [cargando]="cargando()">

  <app-tabs sticky [tabs]="tabs" [activo]="tabActivo()" (tabCambiado)="tabActivo.set($event)" />

  @if (reclamo()) {

    <p class="consecutivo">{{ 'detalleReclamo.consecutivo' | translate }}: {{ codigo }}</p>

    @if (tabActivo() === 'general') {
      <div class="pagina">
        <app-campo-detalle
          titulo="detalleReclamo.tituloReclamo"
          [valor]="reclamo()!.titulo"
        />
        <app-campo-detalle
          titulo="detalleReclamo.descripcion"
          [valor]="reclamo()!.descripcion"
        />
        <app-campo-detalle
          titulo="detalleReclamo.estado"
          [valor]="reclamo()!.descripcionEstadoReclamo"
        />
        <app-campo-detalle
          titulo="detalleReclamo.fechaRegistro"
          [valor]="generales.formatearFecha(reclamo()!.fechaRegistro)"
        />
      </div>
    }

    @if (tabActivo() === 'documentos') {
      <div class="pagina">
        <app-lista-documentos [documentos]="documentos()" />
      </div>
    }


  }
</app-pagina>
