@if (label || requerido) {
  <div class="campo-label-fila">
    @if (label) {
      <span class="campo-label">{{ label | translate }}</span>
    }
  </div>
}
<div class="campo-wrapper" [class.campo-wrapper--error]="invalido" [class.campo-wrapper--focus]="enfocado">
  <ion-item class="campo" lines="none">
    <ion-input
      [formControl]="$any(control)"
      [type]="tipoActual"
      [placeholder]="placeholder | translate"
      [autocomplete]="autocomplete"
      (ionFocus)="enfocado = true"
      (ionBlur)="enfocado = false"
    />
    @if (esContrasena) {
      <ion-button slot="end" fill="clear" class="ojo-boton" (click)="mostrarContrasena = !mostrarContrasena">
        <ion-icon slot="icon-only" [name]="mostrarContrasena ? 'eye-off-outline' : 'eye-outline'" class="ojo-icono" />
      </ion-button>
    }
  </ion-item>
</div>
@if (invalido) {
  <ion-text color="danger" class="error-texto">{{ mensajeError | translate }}</ion-text>
}
