.decoracion {
  position: absolute;
  left: 0;
  width: 100%;
  height: 220px;
  display: block;
  z-index: 0;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
    transform: rotate(180deg);
  }
}

@media (max-height: 740px) {
  .decoracion {
    height: 170px;
  }
}

@media (max-height: 667px) {
  .decoracion {
    height: 140px;
  }
}
