<app-pagina [saludo]="saludo()" titulo="Mis Reclamos" [cargando]="cargando()">

  <app-seccion-header titulo="inicio.casosRecientes" />

  @if (!cargando() && reclamos().length > 0) {
    <app-boton-nuevo-reclamo (accion)="irANuevoReclamo()" />
  }

  <app-lista-reclamos
    [reclamos]="reclamos()"
    [opciones]="opcionesReclamo"
    [cargando]="cargando()"
    tituloVacio="inicio.sinReclamos"
    subtituloVacio="inicio.sinReclamosDesc"
    etiquetaBotonVacio="inicio.crearReclamo"
    (accion)="manejarAccion($event.accionId, $event.reclamo)"
    (accionVacio)="irANuevoReclamo()"
  />

</app-pagina>
