.enlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.enlace {
  font-size: 11px;
  color: var(--color-texto-titulo);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
