<app-pagina titulo="{{ 'buscarUsuarioCedula.titulo' | translate }}" [atras]="true" [cargando]="cargando()">
  @if (paginaLista()) {
    <form [formGroup]="form" (ngSubmit)="buscar()">
      <app-grupo-campo [top]="true">
        <app-campo-select
          label="buscarUsuarioCedula.tipoCedula"
          placeholder="buscarUsuarioCedula.seleccioneTipo"
          formControlName="idTipoCedula"
          [control]="form.get('idTipoCedula')!"
          mensajeError="buscarUsuarioCedula.tipoCedulaRequerido"
          [enviado]="enviado"
          [opciones]="tiposCedula()"
        />
      </app-grupo-campo>
      <app-grupo-campo [top]="true">
        <app-campo-formulario
          label="buscarUsuarioCedula.cedula"
          placeholder="buscarUsuarioCedula.cedulaPlaceholder"
          formControlName="cedula"
          [control]="form.get('cedula')!"
          mensajeError="buscarUsuarioCedula.cedulaRequerida"
          [enviado]="enviado"
          [formato]="tipoSeleccionado()?.formato ?? ''"
          autocomplete="off"
        />
      </app-grupo-campo>
      <app-boton-cargando
        etiqueta="buscarUsuarioCedula.buscar"
        tipo="submit"
        [cargando]="buscando()"
      />
    </form>
  }
</app-pagina>
