<div class="footer-nav">

  <a [routerLink]="rutaInicio()" routerLinkActive="activo" class="nav-item">
    <ion-icon name="home-outline" />
    <span>Inicio</span>
  </a>

  <a routerLink="/perfil" routerLinkActive="activo" class="nav-item">
    <ion-icon name="person-outline" />
    <span>Perfil</span>
  </a>

  <button class="nav-item nav-item--fab" (click)="abrirMenu()">
    <ion-icon name="menu-outline" />
  </button>

  <a [routerLink]="rutaInformacion()" routerLinkActive="activo" class="nav-item">
    <ion-icon name="document-text-outline" />
    <span>Información</span>
  </a>

  <a [routerLink]="rutaBuscar()" routerLinkActive="activo" class="nav-item">
    <ion-icon name="search-outline" />
    <span>Buscar</span>
  </a>

</div>
