<div class="footer-nav">

  <a routerLink="/inicio" routerLinkActive="activo" class="nav-item">
    <ion-icon name="home-outline" />
    <span>Inicio</span>
  </a>

  <a routerLink="/perfil" routerLinkActive="activo" class="nav-item">
    <ion-icon name="person-outline" />
    <span>Perfil</span>
  </a>

  <a routerLink="/nuevo-reclamo" class="nav-item nav-item--fab">
    <ion-icon name="add-outline" />
  </a>

  <a routerLink="/informacion" routerLinkActive="activo" class="nav-item">
    <ion-icon name="document-text-outline" />
    <span>Información</span>
  </a>

  <a routerLink="/buscar" routerLinkActive="activo" class="nav-item">
    <ion-icon name="search-outline" />
    <span>Buscar</span>
  </a>

</div>
