<app-pagina titulo="{{ 'atenderReclamo.titulo' | translate }}" [atras]="true" [cargando]="cargando()">

  @if (reclamo() && paginaLista()) {
    <app-grupo-campo [top]="true">
      <form [formGroup]="form" (ngSubmit)="guardar()">
        <app-campo-select
          label="atenderReclamo.estado"
          placeholder="atenderReclamo.seleccioneEstado"
          formControlName="idEstado"
          [control]="form.get('idEstado')!"
          mensajeError="atenderReclamo.estadoRequerido"
          [enviado]="enviado"
          [opciones]="estados()"
        />
        @if ((continuaProceso() || devolucionProceso()) && nivelesOrden().length > 0) {
          @if (nivelesOrden().length === 1) {
            <app-campo-formulario
              label="atenderReclamo.siguienteNivel"
              [valor]="nivelesOrden()[0].etiqueta.toString()"
              [soloLectura]="true"
            />
          } @else {
            <app-campo-select
              label="atenderReclamo.siguienteNivel"
              placeholder="atenderReclamo.seleccioneNivel"
              formControlName="idNivelSiguiente"
              [opciones]="nivelesOrden()"
            />
          }
        }
        <app-campo-textarea
          label="atenderReclamo.descripcion"
          placeholder="atenderReclamo.descripcionPlaceholder"
          formControlName="descripcion"
          [control]="form.get('descripcion')!"
          mensajeError="atenderReclamo.descripcionRequerida"
          [enviado]="enviado"
        />
        @if (finalizaProceso()) {
          <app-campo-textarea
            label="atenderReclamo.resolucion"
            placeholder="atenderReclamo.resolucionPlaceholder"
            formControlName="descripcionResolucion"
            [control]="form.get('descripcionResolucion')!"
            mensajeError="atenderReclamo.resolucionRequerida"
            [enviado]="enviado"
          />
        }
        <app-adjuntar-archivo
          [archivo]="archivo"
          (archivoChange)="archivo = $event"
        />
        <app-boton-cargando
          etiqueta="atenderReclamo.guardar"
          tipo="submit"
          [cargando]="guardando()"
        />
      </form>
    </app-grupo-campo>
  }

</app-pagina>
